:root {
    --background-color: rgb(231, 231, 231);
    --background-story-color: whitesmoke;

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;

    --aside-img-font-size: 15em;
    --aside-channel-font: 'Exo', sans-serif;
    --aside-channel-font-size: 2em;
    --aside-text-font: 'Montserrat', sans-serif;
    --aside-button-font-size: 1em;
    --aside-button-background-color: rgb(245, 243, 243);
    --aside-button-background-color-hover: rgb(3, 173, 192);
    

    --border-color: rgb(177, 177, 177);
}

aside {
    /* Layout */
    grid-area: aside;
    flex-direction: column;
    display: flex;

    /* Style */
    border-left: solid var(--border-color);
    font-family: var(--aside-text-font);
}

#asidePicture {
    margin: 0em auto;
    position: relative;

    border-radius: 50%;
    text-align: center;
}

#asideIMG {
    /* Layout */
    margin: 3em auto 0em auto;
    width: var(--aside-img-font-size);
    height: var(--aside-img-font-size);

    /* Style */
    border-radius: 50%;
    object-fit: cover;
    transition: 1s;
}

#asidePicture > div {
    /* Layout */
    margin: 0em auto;
    position: absolute;
    top: 50%;
    left: 35%;

    /* Style */
    opacity: 0;
    transition: 1s;
}

#asidePicture > div > i { 
    /* Style */
    font-size: 2em;
}

#asidePicture > div > p {
    /* Layout */
    margin: 0.5em;

    /* Style */
    font-weight: bold;
}

#asidePicture:hover #asideIMG {
    /* Style */
    opacity: 0.25;
    cursor: pointer;
}

#asidePicture:hover div {
    /* Style */
    opacity: 1;
    cursor: pointer;
}

#channelName {
     /* Layout */
     margin: 1em auto;
 
     /* Style */
    text-align: center;
    font-size: var(--aside-channel-font-size);
    font-family: var(--aside-channel-font);
}

#forms {
    /* Layout */
    justify-content: center;
    display: flex;
}

#forms form:first-child {
    /* Layout */
    padding-right: 2em;
    
    /* Style */
    text-align: center;
}

.buttons {
    /* Layout */
    margin: 0em auto;
    width: 8em;
    height: 2em;

    /* Style */
    outline: none;
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    background-color: var(--aside-button-background-color);
    text-align: center;
    font-style: italic;
    font-size: var(--aside-button-font-size);
    font-family: var(--aside-text-font);
}

.buttons:hover {
    /* Style */
    background-color: var(--aside-button-background-color-hover);
    cursor: pointer;
}

#biography > textarea {
    /* Layout */
    margin: 2.5em 2em;
    padding: 1em;
    height: 10em;
    width: auto;

    /* Style */
    outline: none;
    resize: none;
    text-align: start;
    text-indent: 1.5em;
    font-family: var(--aside-text-font);
    border: solid var(--border-color) 2px;
    border-radius: 15px;
    background-color: var(--aside-button-background-color);
}

.statistics {
    margin: 1em auto 0em auto;   
    display: flex;

    font-size: 1.5em; 
}

.statistics > p {
    margin: 0em;
    padding: 0em 1em;
} 