:root {
    --background-color: rgb(231, 231, 231);
    --background-header-color: rgb(3, 173, 192);
    --background-menu-color: rgb(53, 140, 151);
    --background-toolBar-color: rgb(245, 243, 243);
    --background-story-color: whitesmoke;

    --site-name-color: white; 
    --site-name-font: 'Exo', sans-serif;

    --menu-color: white;
    --menu-icons-color: black;
    --menu-font: 'Montserrat', sans-serif;

    --toolBar-font: 'Montserrat', sans-serif;     

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;

    --border-color: rgb(177, 177, 177);
}

body {
    /* Layout */
    margin: 0em;
    display: grid;
    height: 100%;
    overflow: hidden;

    grid-template-columns: auto 5.5fr 2fr;
    grid-template-rows: auto 100%;

    grid-template-areas:    "header toolBar toolBar"
                            "menu stories aside";

    /* Style */
    background-color: var(--background-color);
}

body > header {
    /* Layout */
    grid-area: header;
    display: flex;

    background-color: var(--background-header-color);
}

body > header > img {
    /* Layout */
    max-width: 3em;
    max-height: 3em;
    padding: 0.5em;
}

body > header > h1 {
    margin: 0em;
    padding: 0.5em 0.5em 0em 0em; 

    font-family: var(--site-name-font);
    color: var(--site-name-color);
}

#menu {
    /* Layout */
    grid-area: menu;

    /* Style */
    background-color: var(--background-menu-color);
}

#menu ul{
    /* Layout */
    margin: 0%;
    padding: 0%;

    /* Style */
    list-style-type: none;
}

#menu ul li{
    /* Layout */
    padding: 0.5em 0.5em;
    
    /* Style */
    font-size: 1.5em;
    font-family: var(--menu-font);
    color: var(--menu-color);
}

#menu ul i{
    /* Layout */
    padding-right: 1em;

    /* Style */
    color: var(--menu-icons-color);
}

#toolBar {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: toolBar;
    

    /* Style */
    background-color: var(--background-toolBar-color);
    font-family: var(--toolBar-font);
}

#toolBar div {
    /* Layout */
    display: inherit;
    align-items: inherit;
}

#info {
    /* Layout */
    display: flex;
    margin: 0em;
}

#info > img {
    /* Layout */
    margin: 0em 1em;
    width: 2.5em;
    height: 2.5em;

    /* Style */
    border: solid var(--border-color) 1px;
    border-radius: 50%;
}

#info > h3 {
    /* Layout */
    margin: 0em;
}

#filters > p {
    /* Layout */
    padding-right: 1em;
}

#filters > select {
    /* Layout */
    margin-right: 0.5em;
    border-radius: 5px;  
}

#search {
    /* Layout */
    padding-right: 1em;
}

#search > input {
    /* Layout */
    border-radius: 5px;
    width: 20em;
}

#masterStories {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stories {
    /* Layout */
    grid-area: stories;
    margin: 0%;
    width: 100%;
    max-height: 95%;
    overflow-y: auto;
    padding-right: 20px;
}

#stories > article {
    /* Layout */
    margin: 3.5em auto;
    width: 75%;
    height: auto;
    
    /* Style */ 
    border: solid var(--border-color) 1px;
    background-color: var(--background-story-color);
}   

#storyHeader div {
    /* Layout */
    display: flex;
    justify-content: space-between;
}

#storyHeader > div:first-child h3 {
    /* Layout */
    margin: 0em;
}


#storyHeader > div:first-child > * {
    /* Layout */
    margin: 1em 1em 0.5em 1em;
    
    /* Style */
    font-family: var(--story-header-font);
}

#storyHeader > div:first-child > * > * > * {
    /* Layout */
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#storyHeader > div:last-child {
    /* Layout */
    padding: 0em;

    /* Style */
    justify-content: flex-start;
}

#storyHeader div:last-child img {
    /* Layout */
    padding: 1em 0em 0em 1em;
    width: 10em;
    height: 6em;
}

#storyHeader div:last-child h1 {
    /* Layout */
    margin: 1em 1em 1em 1em;
    width: 100%;
    height: auto;

    /* Style */
    font-family: var(--story-title-font);
}

#storySinopse  {
    /* Layout */
    margin: 0em;
    padding: 1em 1em 1em 1em;
    max-height: 5em;
    max-width: 100%;

    /* Style */
    overflow: hidden;
    font-family: var(--story-text-font);
} 

#storySinopse > p {
    /* Layout */
    overflow: hidden;
    position: relative; 
    line-height: 1.2em;
    max-height: 4.8em; 
    padding-right: 1em;
    margin: 0em;
    
    /* Style */
    text-align: justify;
}
#storySinopse > p:before {
    /* Layout */
    right: 0;
    bottom: 0;
    position: absolute;

    /* Style */
    content: '...';
}
 #storySinopse > p:after {
    /* Layout */
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    position: absolute;

    /* Style */
    content: '';
    background: var(--background-story-color);
}

/* Aside not done */

aside {
    /* Layout */
    grid-area: aside;
    padding: 0em 0em 0em 4em;

    border-left: solid var(--border-color);
}

aside > section {
    /* Layout */
    margin: 3.5em 3.5em 0em 0em;
    min-height: 20em;

    /* Style */
    border: solid var(--border-color) 1px;
    background-color: var(--background-story-color);
}