:root {
    --background-color: rgb(231, 231, 231);

    --site-name-color: white; 
    --site-name-font: 'Exo', sans-serif;
    --site-name-font-size: 7.5em;
}

body {  
    /* Layout */
    margin: 0em;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

    grid-template-areas: "header form";

    /* Style */ 
    background-color: var(--background-color);
}

body > header {
    /* Layout */
    grid-area: header;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

body > header img {
    /* Layout */
    margin: 0em auto;
    width: 35em;
    height: 35em;
}

body > header h1 {
    /* Layout */
    margin-top: 0em;
    text-align: center;

    /* Style */
    font-size: var(--site-name-font-size);
    font-family: var(--site-name-font);
}

#form {
    /* Layout */
    grid-area: form;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0em 10em;
}

#form > form {
    padding: 2em;
    border: solid black;
}

#input {
    /* Layout */
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#input > * {
    margin-bottom: 0.5em;
    padding: 0em 0em;

    text-align: center;
    font-size: 2.5em;
}

#buttons {
    /* Layout */
    display: flex;
    justify-content: space-between;
    margin: 0em;
}

#buttons > * {
    padding: 1em 2em 1em 2em;
}




