:root {
    --background-color: rgb(231, 231, 231);
    --background-form-color: rgb(223, 223, 223);
    --background-input-color: whitesmoke;
    --background-button-color: rgb(3, 173, 192);

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;

    --aside-img-font-size: 15em;
    --aside-channel-font: 'Exo', sans-serif;
    --aside-channel-font-size: 2em;
    --aside-text-font: 'Montserrat', sans-serif;
    --aside-button-font-size: 1em;
    --aside-button-background-color: rgb(245, 243, 243);
    --aside-button-background-color-hover: rgb(3, 173, 192);

    --input-font: 'Montserrat', sans-serif;
    --input-font-size: 2em;

    --button-background-color: rgb(3, 173, 192);
    
    --border-color: rgb(177, 177, 177);
}

#form {
    margin: 0em;
    justify-content: center;
    display: flex;
    grid-area: content;
}

#form > form {
    /* Layout */
    margin: 5em;
    padding: 3em;
    height: 30em;
    width: 50em;
}

#input {
    /* Layout */
    flex-direction: column; 
    justify-content: center;
    display: flex;  
}

#input > * {
    /* Layout */
    margin-bottom: 0.5em;
    padding: 0em 0.5em;

    /* Style */    
    outline: none;
    border-radius: 15px;
    text-align: start;
    font-style: italic;
    font-family: var(--input-font);
    font-size: var(--input-font-size);
    background-color: var(--background-input-color);
}

#uploadStoryPic {
    /* Layout */
    padding: 0em;
    display: flex;
    
    /* Style */
    background-color: transparent;
}

#uploadStoryPic > i {
    /* Style */
    font-size: 1.5em;
}

#uploadStoryPic > p {
    /* Layout */
    margin: 0em;
    padding: 0.25em 0em 0em 0.25em;
}

#uploadStoryPic:hover {
    /* Style */
    color: var(--background-button-color);
    cursor: pointer;
}

#storyContent {
    /* Layout */
    height: 10em;
    padding: 0.5em;
}

#button {
    /* Layout */
    margin: 0em;
    justify-content: center;
    display: flex;
}

#button > * {
    /* Layout */
    padding: 1em;

    /* Style */
    outline: none;
    border: solid var(--border-color) 2px;
    border-radius: 10px;
    font-family: var(--input-font);
    font-weight: bold;
}

#button > button:hover {
    /* Style */
    background-color: var(--background-button-color);
    border-color: var(--border-color);
}