:root {
    --background-color: rgb(231, 231, 231);
    --background-story-color: whitesmoke;

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;

    --aside-upload-icon-size: 200%;

    --aside-username-font: 'Exo', sans-serif;
    --aside-username-font-size: 200%;
    
    --aside-description-font: 'Exo', sans-serif;
    --aside-description-font-size: 200%;

    --aside-text-font: 'Montserrat', sans-serif;
    
    --aside-button-font-size: 100%;
    --aside-button-background-color: rgb(245, 243, 243);
    --aside-button-background-color-hover: rgb(3, 173, 192);
    
    --aside-statistics-font-size: 130%;

    --border-color: rgb(177, 177, 177);
}

aside {
    /* Layout */
    grid-area: aside;
    display: flex;
    flex-direction: column;
    min-height: 80em;
/*     grid-template-columns: 100%;
    grid-template-rows: 30% 5% 2.5% 7.5% 28.5% auto;

    grid-template-areas:    "picture"
                            "name"
                            "messages"
                            "forms"
                            "description"
                            "statistics"; */

    /* Style */
    border-left: solid var(--border-color);
    font-family: var(--aside-text-font);
}

#asidePicture {
    /* Layout */
    margin: 0em;
    padding: 5%;
    position: relative;

    /* Style */
    border-radius: 50%;
    text-align: center;
}

#userPicture {
    /* Layout */
    margin: 0em;
    padding: 5%;
    position: relative;

    /* Style */
    border-radius: 50%;
    text-align: center;
}

#asideIMG {
   /* Layout */
   margin: 0em;
   width: 15em;
   height: 15em;

   /* Style */
   border-radius: 50%;
   object-fit: cover;
   transition: 1s;
}

#asidePicture > div {
    /* Layout */
    margin: 0em;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);

    /* Style */
    opacity: 0;
    transition: 1s;
}

#asidePicture > div > p {
    /* Layout */
    margin: 0.5em;

    /* Style */
    font-weight: bold;
}

#asidePicture > div > i { 
    /* Style */
    font-size: var(--aside-upload-icon-size);
}

#asidePicture:hover #asideIMG {
    /* Style */
    opacity: 0.25;
    cursor: pointer;
}

#asidePicture:hover div {
    /* Style */
    opacity: 1;
    cursor: pointer;
}

#username {
    /* Layout */
    margin: 0em;

     /* Style */
    text-align: center;
    font-size: var(--aside-username-font-size);
    font-family: var(--aside-username-font);
}

#forms {
    /* Layout */
    padding-top: 4%;
    display: flex;
    justify-content: center;
}

#forms input {
    /* Layout */
    margin: 0em 0.25em 0em 2em;
    width: 15em;
    height: 2em;

    /* Style */
    outline: none;
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    background-color: var(--aside-button-background-color);
    text-align: center;
    font-style: italic;
    font-size: var(--aside-button-font-size);
    font-family: var(--aside-text-font);
}

#newChannel {
    /* Layout */
    margin: 0em 2em 0em 0.25em;
    width: 6em;
    height: 2em;

    /* Style */
    outline: none;
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    background-color: var(--aside-button-background-color);
    text-align: center;
    font-style: italic;
    font-size: var(--aside-button-font-size);
    font-family: var(--aside-text-font);
}

#newChannel:hover {
    /* Style */
    background-color: var(--aside-button-background-color-hover);
    cursor: pointer;
}

#description {
    /* Layout */
    margin: 0em;
    overflow:hidden;
}

#description p:first-child {
    /* Layout */
    margin: 0%;
    
    /* Style */
    text-align: center;
    font-family: var(--aside-description-font);
    font-size: var(--aside-description-font-size);
}

#description p:first-child i:hover {
    /* Style */
    cursor: pointer;
}

#description p:nth-child(2) {
    /* Layout */
    margin: 0em 5%;
    padding: 2.5%;
    width: 90%;
    
    /* Style */ 
    text-indent: 1em;
    text-align: start;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-family: var(--aside-text-font);
}

#statistics {
    /* Layout */
    justify-content: center;
}

#statistics > p {
    /* Layout */
    margin: 0em;

    /* Style */ 
    font-size: var(--aside-username-font-size);
    font-family: var(--aside-username-font);
    text-align: center;
}

#statistics a:hover {
    /* Style */ 
    color: var(--aside-button-background-color-hover);
}

#statistics div {
    /* Layout */
    margin: 0.25em auto;
    justify-content: center;
}

.statistics {
    /* Layout */
    margin: 1em auto 0em auto;   
    display: flex;

    /* Style */
    font-size: var(--aside-statistics-font-size); 
}

.statistics p {
    /* Layout */
    margin: 0em;
    padding: 0em 1em;
    height: 1em;
} 