:root {
    --background-color: rgb(231, 231, 231);
    --background-form-color: rgb(223, 223, 223);
    --background-input-color: whitesmoke;
    --background-button-color: rgb(3, 173, 192);

    --site-name-color: white; 
    --site-name-font: 'Exo', sans-serif;
    --site-name-font-size: 7.5em;

    --input-font: 'Montserrat', sans-serif;
    --input-font-size: 2em;

    --button-background-color: rgb(3, 173, 192);

    --border-color: rgb(58, 58, 58);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /* Layout */
    margin: 0em;
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    grid-template-areas: "header"
                         "form"
    ;

    /* Style */
    background-color: var(--background-color);
}

#header {
    /* Layout */
    margin: 0em auto;
    justify-content: center;
    display: flex;
    grid-area: header;
}

#header > a img {
    /* Layout */
    padding-top: 2em;
    width: 20em;
    height: 20em;

}

#header > h1 {
    /* Layout */
    margin: 0em auto;
    padding: 1em 0em 0em 0.5em;
    text-align: center;

    /* Style */
    font-size: var(--site-name-font-size);
    font-family: var(--site-name-font);
}

#form {
    margin: 0em auto;
    padding-top: 1em; 
    justify-content: center;
    display: flex;
    grid-area: form;
}

#form > form {
    /* Layout */
    margin: 0em auto;
    /* padding: 2em 4em 0em 4em; */
}

#input {
    /* Layout */
    flex-direction: column; 
    justify-content: center;
    display: flex;
}

#input > * {
    /* Layout */
    margin-bottom: 0.5em;
    padding: 0em;
    padding-left: 0.5em;
    width: 22.5em;

    /* Style */
    outline: none;
    border-radius: 15px;
    text-align: start;
    font-style: italic;
    font-family: var(--input-font);
    font-size: var(--input-font-size);
    background-color: var(--background-input-color);
}

#button {
    /* Layout */
    margin: auto;
    padding: 1.5em 0em;
    justify-content: center;
    display: flex;
}

#button > * {
    /* Layout */
    padding: 1em;

    /* Style */
    outline: none;
    border: solid var(--border-color) 2px;
    border-radius: 10px;
    font-family: var(--input-font);
    font-weight: bold;
}

#button > button:hover {
    /* Style */
    background-color: var(--background-button-color);
    border-color: var(--border-color);
    cursor: pointer;
}