:root {
    --background-color: rgb(231, 231, 231);
    --background-story-color: whitesmoke;
    --aside-button-background-color-hover: rgb(3, 173, 192);

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;

    --border-color: rgb(177, 177, 177);
}

#storyContent  {
    /* Layout */
    margin: 0em;
    padding: 1em 1em 1em 1em;
    max-width: 100%;

    /* Style */
    font-family: var(--story-text-font);
} 

#storyContent > p {
    /* Layout */
    line-height: 1.2em;
    padding-right: 1em;
    margin: 0em;
    
    /* Style */
    text-align: justify;
}

#comments article, textarea {
    /* Layout */
    margin: 0.5em auto;
    width: 75%;
    height: auto;
    background-color: red;
    display: grid;

    grid-template-columns: 100% 100%;
    grid-template-rows: 35% 65%;

    grid-template-areas:    "commentheader"
                            "commentContent";
    
    /* Style */ 
    border-radius: 15px;
    border: solid var(--border-color) 2px;
    background-color: var(--background-story-color);
}  

#comments article > header {
    padding-top: 0.25em;
    grid-area: commentheader;
}

#comments article > header div {
    padding: 0em 0.1em;
    justify-content: space-between;
    display: flex;
}

#comments article > header span {
    padding: 0.5em 0.2em 0em 0.2em;
}

#comments article > header i {
    padding: 0em 0.3em 0em 0.2em;
}

#comments article > header div:first-child div:first-child div:first-child div:first-child {
    flex-direction: column;
    display: flex;
}

#comments article > header div:first-child div:first-child div:first-child div:first-child i:first-child:hover {
    cursor: pointer;
    color:rgb(9, 190, 9);
}

#comments article > header div:first-child div:first-child div:first-child div:first-child i:last-child:hover {
    cursor: pointer;
    color:rgb(255, 0, 0);
}

.reply:hover {
    cursor: pointer;
    color: var(--aside-button-background-color-hover);
}

.expand:hover {
    cursor: pointer;
    color: var(--aside-button-background-color-hover);
}

.childComment {
    padding-left: 1em;
}

#comments article > p {
    grid-area: commentContent;
    padding: 1em;
    margin: 0em;

    text-indent: 1em;
}

#comments form {
    flex-direction: column;
    display: flex;
}
#comments form > textarea {
    padding: 2em;

    outline: none;
}

#comments form > input {
    /* Layout */
    width: 10em;
    height: 2em;
    margin: 0em auto;

    /* Style */
    outline: none;
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    background-color: var(--aside-button-background-color);
    text-align: center;
    font-style: italic;
    font-size: var(--aside-button-font-size);
    font-family: var(--aside-text-font);
}

#comments form > input:hover {
    cursor: pointer;
    background-color: var(--aside-button-background-color-hover);
}
