:root {
    --background-color: rgb(231, 231, 231);
    --background-story-color: whitesmoke;

    --story-title-font: 'Montserrat', sans-serif;
    --story-header-font: 'Montserrat', sans-serif;
    --story-text-font: 'Montserrat', sans-serif;
    --story-title-font-size: 2em;
    --story-content-font-size: 1em;
    --story-content-text-indent: 2em;

    --border-color: rgb(177, 177, 177);
}

#masterStories {
    grid-area: content;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content {
    /* Layout */
    margin: 0%;
    width: 100%;
    max-height: 95%;
    overflow-y: auto;
    padding-right: 20px;
}

article {
    /* Layout */
    margin: 3.5em auto;
    width: 75%;
    height: auto;
    
    /* Style */ 
    border: solid var(--border-color) 1px;
    background-color: var(--background-story-color);
}   

#storyHeader div {
    /* Layout */
    display: flex;
    justify-content: space-between;
}

#storyHeader > div:first-child h3 {
    /* Layout */
    margin: 0em;
}

#storyHeader > div:first-child > * {
    /* Layout */
    margin: 1em 1em 0.5em 1em;
    
    /* Style */
    font-family: var(--story-header-font);
}

#storyHeader > div:first-child > * > * > * {
    /* Layout */
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#storyHeader > div:last-child {
    /* Layout */
    padding: 0em;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;    
}

#storyHeader div:last-child img {
    /* Layout */
    padding: 1em 1em 1em 1em;
    width: auto;
    height: 50%;
}

#storyHeader div:last-child h1 {
    /* Layout */
    margin: 1em 1em 0em 1em;
    width: auto;
    height: auto;

    /* Style */
    font-family: var(--story-title-font);
    font-weight: bold;
    font-size: var(--story-title-font-size);
}

p {
    /* Layout */
    margin: 0em;
    padding: 1em 1em 1em 1em;
    height: auto;
    width: auto;

    /* Style */
    text-align: justify;
    text-indent: var(--story-content-text-indent);
    font-size: var(--story-content-font-size);
    font-family: var(--story-text-font);
} 

/* Aside not made yet */

aside {
    /* Layout */
    grid-area: aside;
    padding: 0em 0em 0em 4em;

    border-left: solid var(--border-color);
}